  <div class="container">
    <div class="row">
      <div class="col-sm-12" ng-controller="MoviesCtrl">
        <h1>Movies to Watch</h1>
        <form ng-submit="addMovie()">
          <input type="text" ng-model="movieTitle"  size="30" placeholder="Add a new movie title">
          <input type="text" ng-model="movieDirector"  size="20" placeholder="Director">
          <input type="text" ng-model="movieYear"  size="10" placeholder="Year">
          <input type="text" ng-model="movieAwards"  size="10" placeholder="Awards">
          <input class="enter btn btn-primary" type="submit" value="Add Movie">
        </form>
        <div><input type="text" ng-model="query" placeholder='Search'></div>
        <ul>
          <li ng-repeat="movie in movies | orderByPriority | filter:query">
            <div class="movie col-sm-3 watched-{{movie.watched}}">
              <h4><a href="http://www.rottentomatoes.com/search/?search={{movie.title}}" target="_blank">{{movie.title}}</a></h4>
              <div class="info">
                <p>{{movie.year}}</p>
                <p>{{movie.director}}</p>
                <p>{{movie.awards}}</p>
              </div>
              <div class="interactions">
                <div ng-controller="RatingCtrl" class="done">
                  <button type="button" class="btn btn-primary" ng-click="watched(movie)" ng-model="movie.watched" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">Watched</button>
                  {{movie.watched}}
                </div>
                <div ng-controller="RatingCtrl" class="rate">
                  <h5>Rating</h5>
                  <rating ng-click="addRating(movie)" ng-model="movie.rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

